examples/dynamic-matrix-flow.json
[
  {
    "id": "matrix-flow-tab",
    "type": "tab",
    "label": "NMOS Dynamic Matrix Flow",
    "disabled": false,
    "info": "# NMOS Dynamic Matrix Flow\n\nThis flow provides a complete NMOS routing matrix implementation using a modular approach.\n\n## Features\n- Query senders and receivers from NMOS registry (IS-04)\n- Polling mechanism to keep device list updated\n- Vue-based matrix UI for visual routing control\n- IS-05 connection management for routing operations\n- WebSocket support for real-time updates\n- Error handling and validation\n\n## Architecture\n1. **Query Nodes**: Fetch senders and receivers from NMOS registry\n2. **Data Processing**: Transform and merge data for matrix display\n3. **Matrix UI**: Standalone web interface (Vue.js based)\n4. **Connection Manager**: Handle IS-05 routing operations\n5. **Status Monitor**: Track connection state changes\n\n## Usage\n1. Configure the nmos-config node with your registry URL\n2. Deploy the flow\n3. Access the matrix UI at: http://localhost:1880/nmos-matrix\n4. Click crosspoints to connect/disconnect senders to receivers\n\n## Integration Options\n\n### Option 1: Native Implementation (Current)\nThis flow uses built-in NMOS nodes and a custom Vue UI.\n\n### Option 2: nmos_crosspoint Integration\nTo integrate with the DHPKE/nmos_crosspoint application:\n1. Install and run nmos_crosspoint server\n2. Replace the matrix UI endpoint with iframe to crosspoint\n3. Use crosspoint's API for routing operations\n\nSee documentation for detailed integration steps."
  },
  {
    "id": "nmos-registry-config",
    "type": "nmos-config",
    "name": "NMOS Registry",
    "queryUrl": "http://localhost:3211",
    "connectionUrl": "http://localhost:3212",
    "auth": false,
    "username": "",
    "password": ""
  },
  {
    "id": "comment-header",
    "type": "comment",
    "z": "matrix-flow-tab",
    "name": "NMOS Dynamic Matrix Flow - Query, Process, Display, Route",
    "info": "",
    "x": 240,
    "y": 40,
    "wires": []
  },
  {
    "id": "comment-query",
    "type": "comment",
    "z": "matrix-flow-tab",
    "name": "1. Query NMOS Resources",
    "info": "Query senders and receivers from the NMOS registry.\nPolling every 5 seconds keeps the list updated.",
    "x": 140,
    "y": 100,
    "wires": []
  },
  {
    "id": "inject-poll-senders",
    "type": "inject",
    "z": "matrix-flow-tab",
    "name": "Poll Senders",
    "props": [
      {
        "p": "resourceType",
        "v": "senders",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 120,
    "y": 160,
    "wires": [["query-senders"]]
  },
  {
    "id": "inject-poll-receivers",
    "type": "inject",
    "z": "matrix-flow-tab",
    "name": "Poll Receivers",
    "props": [
      {
        "p": "resourceType",
        "v": "receivers",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 220,
    "wires": [["query-receivers"]]
  },
  {
    "id": "query-senders",
    "type": "nmos-query",
    "z": "matrix-flow-tab",
    "name": "Query Senders",
    "registry": "nmos-registry-config",
    "resourceType": "senders",
    "filter": "",
    "x": 320,
    "y": 160,
    "wires": [["process-senders"]]
  },
  {
    "id": "query-receivers",
    "type": "nmos-query",
    "z": "matrix-flow-tab",
    "name": "Query Receivers",
    "registry": "nmos-registry-config",
    "resourceType": "receivers",
    "filter": "",
    "x": 330,
    "y": 220,
    "wires": [["process-receivers"]]
  },
  {
    "id": "comment-process",
    "type": "comment",
    "z": "matrix-flow-tab",
    "name": "2. Process & Store Data",
    "info": "Transform data and store in flow context for the matrix UI.",
    "x": 140,
    "y": 280,
    "wires": []
  },
  {
    "id": "process-senders",
    "type": "function",
    "z": "matrix-flow-tab",
    "name": "Process Senders",
    "func": "// Transform sender data for matrix display\n// Validate input\nif (!Array.isArray(msg.payload)) {\n    node.warn('Invalid payload: expected array of senders');\n    return null;\n}\n\nconst senders = msg.payload.map(s => ({\n    id: s.id,\n    label: s.label || s.id,\n    description: s.description || '',\n    flow_id: s.flow_id,\n    device_id: s.device_id,\n    manifest_href: s.manifest_href\n}));\n\n// Sort by label for better UX\nsenders.sort((a, b) => a.label.localeCompare(b.label, undefined, { \n    numeric: true, \n    sensitivity: 'base' \n}));\n\n// Store in flow context\nflow.set('senders', senders);\n\nmsg.payload = {\n    type: 'senders',\n    count: senders.length,\n    data: senders\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 160,
    "wires": [["merge-matrix-data"]]
  },
  {
    "id": "process-receivers",
    "type": "function",
    "z": "matrix-flow-tab",
    "name": "Process Receivers",
    "func": "// Transform receiver data for matrix display\n// Validate input\nif (!Array.isArray(msg.payload)) {\n    node.warn('Invalid payload: expected array of receivers');\n    return null;\n}\n\nconst receivers = msg.payload.map(r => ({\n    id: r.id,\n    label: r.label || r.id,\n    description: r.description || '',\n    device_id: r.device_id,\n    subscription: r.subscription || {}\n}));\n\n// Sort by label for better UX\nreceivers.sort((a, b) => a.label.localeCompare(b.label, undefined, { \n    numeric: true, \n    sensitivity: 'base' \n}));\n\n// Store in flow context\nflow.set('receivers', receivers);\n\nmsg.payload = {\n    type: 'receivers',\n    count: receivers.length,\n    data: receivers\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 220,
    "wires": [["merge-matrix-data"]]
  },
  {
    "id": "merge-matrix-data",
    "type": "function",
    "z": "matrix-flow-tab",
    "name": "Merge & Extract Connections",
    "func": "// Get current senders and receivers from flow context\nconst senders = flow.get('senders') || [];\nconst receivers = flow.get('receivers') || [];\n\n// Extract active connections from receiver subscriptions\nconst connections = [];\nreceivers.forEach(receiver => {\n    if (receiver.subscription && \n        receiver.subscription.active === true && \n        receiver.subscription.sender_id) {\n        const sender = senders.find(s => s.id === receiver.subscription.sender_id);\n        connections.push({\n            receiverId: receiver.id,\n            receiverLabel: receiver.label,\n            senderId: receiver.subscription.sender_id,\n            senderLabel: sender ? sender.label : receiver.subscription.sender_id\n        });\n    }\n});\n\n// Store complete matrix data\nconst matrixData = {\n    senders: senders,\n    receivers: receivers,\n    connections: connections,\n    timestamp: new Date().toISOString()\n};\n\nflow.set('matrixData', matrixData);\n\nmsg.payload = matrixData;\nmsg.topic = 'matrix-update';\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 190,
    "wires": [["debug-matrix-data"]]
  },
  {
    "id": "debug-matrix-data",
    "type": "debug",
    "z": "matrix-flow-tab",
    "name": "Matrix Data",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 190,
    "wires": []
  },
  {
    "id": "comment-ui",
    "type": "comment",
    "z": "matrix-flow-tab",
    "name": "3. Matrix UI Endpoints",
    "info": "HTTP endpoints to serve the matrix UI and data API.",
    "x": 130,
    "y": 360,
    "wires": []
  },
  {
    "id": "http-in-matrix",
    "type": "http in",
    "z": "matrix-flow-tab",
    "name": "",
    "url": "/nmos-matrix",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 420,
    "wires": [["serve-matrix-ui"]]
  },
  {
    "id": "serve-matrix-ui",
    "type": "template",
    "z": "matrix-flow-tab",
    "name": "Matrix UI HTML",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<!DOCTYPE html>\n<html>\n<head>\n    <title>NMOS Routing Matrix</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js\"></script>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: #1a1a1a; color: #e0e0e0; }\n        #app { width: 100%; height: 100vh; display: flex; flex-direction: column; }\n        .header { padding: 20px; background: linear-gradient(135deg, #252525 0%, #2a2a2a 100%); border-bottom: 2px solid #3FADB5; }\n        .header h1 { color: #3FADB5; margin-bottom: 10px; }\n        .controls { display: flex; gap: 10px; margin-top: 10px; flex-wrap: wrap; }\n        .search-box { flex: 1; min-width: 200px; padding: 10px; background: #333; border: 1px solid #555; border-radius: 6px; color: #e0e0e0; }\n        .btn { padding: 10px 18px; border: none; border-radius: 6px; color: white; cursor: pointer; font-weight: 600; transition: all 0.3s; }\n        .btn-refresh { background: linear-gradient(135deg, #3FADB5 0%, #2d8a91 100%); }\n        .btn-refresh:hover { background: linear-gradient(135deg, #2d8a91 0%, #236a70 100%); }\n        .status { margin-top: 10px; font-size: 14px; color: #999; }\n        .status strong { color: #3FADB5; }\n        .matrix-container { flex: 1; overflow: auto; padding: 20px; }\n        .matrix-grid { display: grid; grid-template-columns: 200px repeat(auto-fit, 50px); gap: 1px; background: #333; }\n        .corner { grid-column: 1; grid-row: 1; background: #252525; display: flex; align-items: center; justify-content: center; color: #3FADB5; font-weight: bold; }\n        .sender-header { background: #252525; padding: 10px 5px; text-align: center; font-size: 11px; writing-mode: vertical-rl; transform: rotate(180deg); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 120px; }\n        .receiver-label { background: #252525; padding: 10px; font-size: 13px; font-weight: 600; display: flex; align-items: center; }\n        .crosspoint { background: #2a2a2a; min-height: 50px; cursor: pointer; transition: all 0.2s; display: flex; align-items: center; justify-content: center; }\n        .crosspoint:hover { background: #3a3a3a; }\n        .crosspoint.active { background: linear-gradient(135deg, #3FADB5 0%, #2d8a91 100%); }\n        .crosspoint.active:hover { background: linear-gradient(135deg, #4FBDC5 0%, #3D9AA1 100%); }\n        .loading { display: flex; justify-content: center; align-items: center; height: 100%; color: #3FADB5; font-size: 18px; }\n        .empty { display: flex; justify-content: center; align-items: center; height: 100%; color: #999; font-size: 16px; }\n    </style>\n</head>\n<body>\n    <div id=\"app\">\n        <div class=\"header\">\n            <h1>🎛️ NMOS Routing Matrix</h1>\n            <div class=\"controls\">\n                <input v-model=\"senderFilter\" class=\"search-box\" placeholder=\"Filter senders...\" />\n                <input v-model=\"receiverFilter\" class=\"search-box\" placeholder=\"Filter receivers...\" />\n                <button class=\"btn btn-refresh\" @click=\"loadData\" :disabled=\"loading\">{{ loading ? 'Loading...' : 'Refresh' }}</button>\n            </div>\n            <div class=\"status\">\n                <strong>Senders:</strong> {{ filteredSenders.length }} / {{ senders.length }} |\n                <strong>Receivers:</strong> {{ filteredReceivers.length }} / {{ receivers.length }} |\n                <strong>Active:</strong> {{ connections.length }} connections\n            </div>\n        </div>\n        <div class=\"matrix-container\">\n            <div v-if=\"loading\" class=\"loading\">Loading matrix data...</div>\n            <div v-else-if=\"senders.length === 0 || receivers.length === 0\" class=\"empty\">No senders or receivers found. Check your NMOS registry.</div>\n            <div v-else class=\"matrix-grid\" :style=\"gridStyle\">\n                <div class=\"corner\">Matrix</div>\n                <div v-for=\"sender in filteredSenders\" :key=\"sender.id\" class=\"sender-header\" :title=\"sender.label\">{{ sender.label }}</div>\n                <template v-for=\"receiver in filteredReceivers\" :key=\"receiver.id\">\n                    <div class=\"receiver-label\" :title=\"receiver.label\">{{ receiver.label }}</div>\n                    <div v-for=\"sender in filteredSenders\" :key=\"sender.id\" \n                         class=\"crosspoint\" \n                         :class=\"{ active: isConnected(receiver.id, sender.id) }\"\n                         @click=\"toggleConnection(receiver.id, sender.id)\"\n                         :title=\"`${sender.label} → ${receiver.label}`\">\n                        <span v-if=\"isConnected(receiver.id, sender.id)\">✓</span>\n                    </div>\n                </template>\n            </div>\n        </div>\n    </div>\n    <script>\n        const { createApp } = Vue;\n        createApp({\n            data() {\n                return {\n                    senders: [],\n                    receivers: [],\n                    connections: [],\n                    senderFilter: '',\n                    receiverFilter: '',\n                    loading: true\n                };\n            },\n            computed: {\n                filteredSenders() {\n                    if (!this.senderFilter) return this.senders;\n                    const search = this.senderFilter.toLowerCase();\n                    return this.senders.filter(s => s.label.toLowerCase().includes(search));\n                },\n                filteredReceivers() {\n                    if (!this.receiverFilter) return this.receivers;\n                    const search = this.receiverFilter.toLowerCase();\n                    return this.receivers.filter(r => r.label.toLowerCase().includes(search));\n                },\n                gridStyle() {\n                    return {\n                        gridTemplateColumns: `200px repeat(${this.filteredSenders.length}, 50px)`\n                    };\n                }\n            },\n            methods: {\n                async loadData() {\n                    this.loading = true;\n                    try {\n                        const response = await fetch('/nmos-matrix/data');\n                        const data = await response.json();\n                        this.senders = data.senders || [];\n                        this.receivers = data.receivers || [];\n                        this.connections = data.connections || [];\n                    } catch (error) {\n                        console.error('Error loading matrix data:', error);\n                        alert('Failed to load matrix data. Check Node-RED connection.');\n                    } finally {\n                        this.loading = false;\n                    }\n                },\n                isConnected(receiverId, senderId) {\n                    return this.connections.some(c => c.receiverId === receiverId && c.senderId === senderId);\n                },\n                async toggleConnection(receiverId, senderId) {\n                    const isActive = this.isConnected(receiverId, senderId);\n                    const operation = isActive ? 'disconnect' : 'activate';\n                    \n                    try {\n                        const response = await fetch('/nmos-matrix/route', {\n                            method: 'POST',\n                            headers: { 'Content-Type': 'application/json' },\n                            body: JSON.stringify({\n                                receiverId: receiverId,\n                                senderId: isActive ? null : senderId,\n                                operation: operation\n                            })\n                        });\n                        \n                        if (response.ok) {\n                            // Optimistic update\n                            if (isActive) {\n                                this.connections = this.connections.filter(c => !(c.receiverId === receiverId && c.senderId === senderId));\n                            } else {\n                                this.connections = this.connections.filter(c => c.receiverId !== receiverId);\n                                this.connections.push({ receiverId, senderId });\n                            }\n                            \n                            // Reload after delay to get actual state\n                            setTimeout(() => this.loadData(), 2000);\n                        } else {\n                            alert('Routing operation failed. Check Node-RED logs.');\n                        }\n                    } catch (error) {\n                        console.error('Error toggling connection:', error);\n                        alert('Failed to route connection.');\n                    }\n                }\n            },\n            mounted() {\n                this.loadData();\n                // Auto-refresh every 10 seconds\n                setInterval(() => this.loadData(), 10000);\n            }\n        }).mount('#app');\n    </script>\n</body>\n</html>",
    "output": "str",
    "x": 360,
    "y": 420,
    "wires": [["http-response-matrix"]]
  },
  {
    "id": "http-response-matrix",
    "type": "http response",
    "z": "matrix-flow-tab",
    "name": "",
    "statusCode": "200",
    "headers": {
      "content-type": "text/html"
    },
    "x": 580,
    "y": 420,
    "wires": []
  },
  {
    "id": "http-in-matrix-data",
    "type": "http in",
    "z": "matrix-flow-tab",
    "name": "",
    "url": "/nmos-matrix/data",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 480,
    "wires": [["get-matrix-data"]]
  },
  {
    "id": "get-matrix-data",
    "type": "function",
    "z": "matrix-flow-tab",
    "name": "Get Matrix Data",
    "func": "// Retrieve matrix data from flow context\nconst matrixData = flow.get('matrixData') || {\n    senders: [],\n    receivers: [],\n    connections: [],\n    timestamp: new Date().toISOString()\n};\n\nmsg.payload = matrixData;\nmsg.headers = {\n    'Content-Type': 'application/json'\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 480,
    "wires": [["http-response-data"]]
  },
  {
    "id": "http-response-data",
    "type": "http response",
    "z": "matrix-flow-tab",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 580,
    "y": 480,
    "wires": []
  },
  {
    "id": "comment-routing",
    "type": "comment",
    "z": "matrix-flow-tab",
    "name": "4. Routing Operations (IS-05)",
    "info": "Handle routing requests from the matrix UI.",
    "x": 150,
    "y": 540,
    "wires": []
  },
  {
    "id": "http-in-route",
    "type": "http in",
    "z": "matrix-flow-tab",
    "name": "",
    "url": "/nmos-matrix/route",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 600,
    "wires": [["parse-route-request"]]
  },
  {
    "id": "parse-route-request",
    "type": "function",
    "z": "matrix-flow-tab",
    "name": "Parse Route Request",
    "func": "// Extract routing parameters from HTTP request\nconst request = msg.payload;\n\nmsg.receiverId = request.receiverId;\nmsg.senderId = request.senderId;\nmsg.operation = request.operation || 'activate';\n\n// Store original request for response\nmsg._routeRequest = request;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 600,
    "wires": [["nmos-connection"]]
  },
  {
    "id": "nmos-connection",
    "type": "nmos-connection",
    "z": "matrix-flow-tab",
    "name": "Route Connection",
    "registry": "nmos-registry-config",
    "receiverId": "",
    "senderId": "",
    "x": 590,
    "y": 600,
    "wires": [["route-response", "debug-route-result"]]
  },
  {
    "id": "route-response",
    "type": "function",
    "z": "matrix-flow-tab",
    "name": "Format Response",
    "func": "// Format successful routing response\nmsg.payload = {\n    success: true,\n    operation: msg._routeRequest.operation,\n    receiverId: msg._routeRequest.receiverId,\n    senderId: msg._routeRequest.senderId,\n    result: msg.payload\n};\n\nmsg.statusCode = 200;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 790,
    "y": 600,
    "wires": [["http-response-route"]]
  },
  {
    "id": "http-response-route",
    "type": "http response",
    "z": "matrix-flow-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 990,
    "y": 600,
    "wires": []
  },
  {
    "id": "debug-route-result",
    "type": "debug",
    "z": "matrix-flow-tab",
    "name": "Route Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 640,
    "wires": []
  },
  {
    "id": "comment-websocket",
    "type": "comment",
    "z": "matrix-flow-tab",
    "name": "5. WebSocket Updates (Optional)",
    "info": "Subscribe to real-time resource changes via WebSocket.",
    "x": 160,
    "y": 700,
    "wires": []
  },
  {
    "id": "websocket-senders",
    "type": "nmos-websocket",
    "z": "matrix-flow-tab",
    "name": "Watch Senders",
    "registry": "nmos-registry-config",
    "resourceType": "senders",
    "filter": "",
    "x": 130,
    "y": 760,
    "wires": [["handle-sender-change"]]
  },
  {
    "id": "websocket-receivers",
    "type": "nmos-websocket",
    "z": "matrix-flow-tab",
    "name": "Watch Receivers",
    "registry": "nmos-registry-config",
    "resourceType": "receivers",
    "filter": "",
    "x": 140,
    "y": 800,
    "wires": [["handle-receiver-change"]]
  },
  {
    "id": "handle-sender-change",
    "type": "function",
    "z": "matrix-flow-tab",
    "name": "Handle Sender Change",
    "func": "// Handle real-time sender updates\nconst event = msg.event; // 'added', 'modified', 'removed'\nconst sender = msg.payload;\n\nlet senders = flow.get('senders') || [];\n\nif (event === 'added') {\n    senders.push({\n        id: sender.id,\n        label: sender.label || sender.id,\n        description: sender.description || '',\n        flow_id: sender.flow_id,\n        device_id: sender.device_id\n    });\n} else if (event === 'modified') {\n    const index = senders.findIndex(s => s.id === sender.id);\n    if (index !== -1) {\n        senders[index] = {\n            id: sender.id,\n            label: sender.label || sender.id,\n            description: sender.description || '',\n            flow_id: sender.flow_id,\n            device_id: sender.device_id\n        };\n    }\n} else if (event === 'removed') {\n    senders = senders.filter(s => s.id !== sender.id);\n}\n\n// Sort and store\nsenders.sort((a, b) => a.label.localeCompare(b.label));\nflow.set('senders', senders);\n\nmsg.payload = { event, sender, totalSenders: senders.length };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 760,
    "wires": [["debug-ws-update"]]
  },
  {
    "id": "handle-receiver-change",
    "type": "function",
    "z": "matrix-flow-tab",
    "name": "Handle Receiver Change",
    "func": "// Handle real-time receiver updates\nconst event = msg.event; // 'added', 'modified', 'removed'\nconst receiver = msg.payload;\n\nlet receivers = flow.get('receivers') || [];\n\nif (event === 'added') {\n    receivers.push({\n        id: receiver.id,\n        label: receiver.label || receiver.id,\n        description: receiver.description || '',\n        device_id: receiver.device_id,\n        subscription: receiver.subscription || {}\n    });\n} else if (event === 'modified') {\n    const index = receivers.findIndex(r => r.id === receiver.id);\n    if (index !== -1) {\n        receivers[index] = {\n            id: receiver.id,\n            label: receiver.label || receiver.id,\n            description: receiver.description || '',\n            device_id: receiver.device_id,\n            subscription: receiver.subscription || {}\n        };\n    }\n} else if (event === 'removed') {\n    receivers = receivers.filter(r => r.id !== receiver.id);\n}\n\n// Sort and store\nreceivers.sort((a, b) => a.label.localeCompare(b.label));\nflow.set('receivers', receivers);\n\nmsg.payload = { event, receiver, totalReceivers: receivers.length };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 800,
    "wires": [["debug-ws-update"]]
  },
  {
    "id": "debug-ws-update",
    "type": "debug",
    "z": "matrix-flow-tab",
    "name": "WebSocket Updates",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 780,
    "wires": []
  },
  {
    "id": "comment-integration",
    "type": "comment",
    "z": "matrix-flow-tab",
    "name": "6. nmos_crosspoint Integration (Optional)",
    "info": "To integrate with DHPKE/nmos_crosspoint:\n\n1. Install and run nmos_crosspoint:\n   git clone https://github.com/DHPKE/nmos_crosspoint\n   cd nmos_crosspoint\n   npm install\n   npm start\n\n2. Replace the /nmos-matrix endpoint with an iframe:\n   <iframe src=\"http://localhost:3000\" width=\"100%\" height=\"100%\"></iframe>\n\n3. Configure crosspoint to use your NMOS registry\n\n4. Use crosspoint's built-in routing interface\n\nAlternatively, you can proxy crosspoint API calls through Node-RED.",
    "x": 190,
    "y": 860,
    "wires": []
  }
]