examples/is07-camera-tally-system.json
[
    {
        "id": "camera-tally-flow",
        "type": "tab",
        "label": "IS-07 Camera Tally System",
        "disabled": false,
        "info": "Multi-camera tally system with aggregation from multiple sources.\n\nFeatures:\n- Multiple tally sources (director, producer, automation)\n- Tally aggregation with priority (red > yellow > green)\n- Distribution to 4 cameras\n- MQTT transport for efficient one-to-many distribution"
    },
    {
        "id": "director-red",
        "type": "inject",
        "z": "camera-tally-flow",
        "name": "Director: Cam 1 Red",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "director",
        "payload": "{\"camera\":\"camera-1\",\"red\":true,\"yellow\":false,\"green\":false}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "director-sender"
            ]
        ]
    },
    {
        "id": "producer-yellow",
        "type": "inject",
        "z": "camera-tally-flow",
        "name": "Producer: Cam 2 Yellow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "producer",
        "payload": "{\"camera\":\"camera-2\",\"red\":false,\"yellow\":true,\"green\":false}",
        "payloadType": "json",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "producer-sender"
            ]
        ]
    },
    {
        "id": "automation-green",
        "type": "inject",
        "z": "camera-tally-flow",
        "name": "Automation: Cam 3 Green",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "automation",
        "payload": "{\"camera\":\"camera-3\",\"red\":false,\"yellow\":false,\"green\":true}",
        "payloadType": "json",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "automation-sender"
            ]
        ]
    },
    {
        "id": "director-sender",
        "type": "nmos-is07-sender",
        "z": "camera-tally-flow",
        "name": "Director Tally",
        "registry": "nmos-config-1",
        "transportType": "mqtt",
        "mqttBroker": "mqtt://localhost:1883",
        "mqttQos": 1,
        "deviceLabel": "Director Tally Source",
        "senderLabel": "Director Tally",
        "eventType": "object",
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "producer-sender",
        "type": "nmos-is07-sender",
        "z": "camera-tally-flow",
        "name": "Producer Tally",
        "registry": "nmos-config-1",
        "transportType": "mqtt",
        "mqttBroker": "mqtt://localhost:1883",
        "mqttQos": 1,
        "deviceLabel": "Producer Tally Source",
        "senderLabel": "Producer Tally",
        "eventType": "object",
        "x": 410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "automation-sender",
        "type": "nmos-is07-sender",
        "z": "camera-tally-flow",
        "name": "Automation Tally",
        "registry": "nmos-config-1",
        "transportType": "mqtt",
        "mqttBroker": "mqtt://localhost:1883",
        "mqttQos": 1,
        "deviceLabel": "Automation Tally Source",
        "senderLabel": "Automation Tally",
        "eventType": "object",
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "tally-receiver",
        "type": "nmos-is07-receiver",
        "z": "camera-tally-flow",
        "name": "Tally Aggregator Receiver",
        "registry": "nmos-config-1",
        "transportType": "mqtt",
        "mqttBroker": "mqtt://localhost:1883",
        "subscriptionFilter": "x-nmos/events/+/#",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "aggregate-tally"
            ]
        ]
    },
    {
        "id": "aggregate-tally",
        "type": "function",
        "z": "camera-tally-flow",
        "name": "Aggregate Tally",
        "func": "// Initialize aggregator in global context\nlet aggregator = global.get('tallyAggregator');\nif (!aggregator) {\n    const TallyAggregator = require('./nodes/lib/tally-aggregator');\n    aggregator = new TallyAggregator();\n    global.set('tallyAggregator', aggregator);\n}\n\n// Extract data from grain\nconst grain = msg.payload;\nif (!grain || !grain.grain || !grain.grain.data) {\n    return null;\n}\n\nconst data = grain.grain.data[0];\nconst sourceId = msg.topic;\nconst cameraId = data.post.camera || 'camera-1';\nconst tallyState = {\n    red: data.post.red || false,\n    yellow: data.post.yellow || false,\n    green: data.post.green || false\n};\n\n// Update source\naggregator.update(`${sourceId}-${cameraId}`, tallyState);\n\n// Get aggregated result\nconst finalState = aggregator.getAggregatedState();\n\nreturn {\n    payload: finalState,\n    camera: cameraId,\n    sources: Array.from(aggregator.sources.keys())\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "route-cameras"
            ]
        ]
    },
    {
        "id": "route-cameras",
        "type": "switch",
        "z": "camera-tally-flow",
        "name": "Route by Camera",
        "property": "camera",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "camera-1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "camera-2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "camera-3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "camera-4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "camera-1-output"
            ],
            [
                "camera-2-output"
            ],
            [
                "camera-3-output"
            ],
            [
                "camera-4-output"
            ]
        ]
    },
    {
        "id": "camera-1-output",
        "type": "debug",
        "z": "camera-tally-flow",
        "name": "Camera 1 Tally",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "camera-2-output",
        "type": "debug",
        "z": "camera-tally-flow",
        "name": "Camera 2 Tally",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 830,
        "y": 390,
        "wires": []
    },
    {
        "id": "camera-3-output",
        "type": "debug",
        "z": "camera-tally-flow",
        "name": "Camera 3 Tally",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "camera-4-output",
        "type": "debug",
        "z": "camera-tally-flow",
        "name": "Camera 4 Tally",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 830,
        "y": 490,
        "wires": []
    },
    {
        "id": "comment-sources",
        "type": "comment",
        "z": "camera-tally-flow",
        "name": "Tally Sources - Director, Producer, and Automation send tally states",
        "info": "",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment-aggregation",
        "type": "comment",
        "z": "camera-tally-flow",
        "name": "Tally Aggregation - Combines sources with priority: Red > Yellow > Green",
        "info": "",
        "x": 290,
        "y": 360,
        "wires": []
    }
]
