examples/is12-control-example.json
[
    {
        "id": "is12_example",
        "type": "tab",
        "label": "IS-12 Control Example",
        "disabled": false,
        "info": "NMOS IS-12 Control Protocol with WebSocket"
    },
    {
        "id": "is12_device",
        "type": "nmos-is12-control",
        "z": "is12_example",
        "name": "Audio Processor",
        "registry": "YOUR_REGISTRY_CONFIG",
        "wsPort": 3001,
        "deviceLabel": "Node-RED Audio Processor",
        "deviceDescription": "IS-12 controllable audio processor",
        "controlType": "processor",
        "deviceId": "",
        "nodeId": "",
        "x": 380,
        "y": 200,
        "wires": [["show_property_change"]]
    },
    {
        "id": "inject_get_state",
        "type": "inject",
        "z": "is12_example",
        "name": "Get State",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"action\":\"get_state\"}",
        "payloadType": "json",
        "x": 140,
        "y": 140,
        "wires": [["is12_device"]]
    },
    {
        "id": "inject_set_gain",
        "type": "inject",
        "z": "is12_example",
        "name": "Set Gain -6dB",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"action\":\"set_property\",\"role\":\"gain\",\"value\":-6.0}",
        "payloadType": "json",
        "x": 150,
        "y": 180,
        "wires": [["is12_device"]]
    },
    {
        "id": "inject_mute_on",
        "type": "inject",
        "z": "is12_example",
        "name": "Mute ON",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"action\":\"set_property\",\"role\":\"mute\",\"value\":true}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [["is12_device"]]
    },
    {
        "id": "inject_mute_off",
        "type": "inject",
        "z": "is12_example",
        "name": "Mute OFF",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"action\":\"set_property\",\"role\":\"mute\",\"value\":false}",
        "payloadType": "json",
        "x": 140,
        "y": 260,
        "wires": [["is12_device"]]
    },
    {
        "id": "show_property_change",
        "type": "function",
        "z": "is12_example",
        "name": "Display Property Changes",
        "func": "if (msg.payload.event === 'property_changed') {\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n    node.warn('PROPERTY CHANGED');\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n    node.warn(`Role: ${msg.payload.role}`);\n    node.warn(`Value: ${msg.payload.value}`);\n    node.warn(`OID: ${msg.payload.oid}`);\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n}\n\nif (msg.payload.wsConnected !== undefined) {\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n    node.warn('IS-12 DEVICE STATE');\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n    node.warn(`Registered: ${msg.payload.registered}`);\n    node.warn(`WebSocket Port: ${msg.payload.wsPort}`);\n    node.warn(`WebSocket Endpoint: ${msg.payload.wsEndpoint}`);\n    node.warn(`Active Connections: ${msg.payload.activeConnections}`);\n    node.warn('\\nControl Model:');\n    for (const key in msg.payload.controlModel.workers) {\n        const w = msg.payload.controlModel.workers[key];\n        node.warn(`  ${w.role}: ${w.value} ${w.readOnly ? '(read-only)' : ''}`);\n    }\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [["debug_output"]]
    },
    {
        "id": "debug_output",
        "type": "debug",
        "z": "is12_example",
        "name": "Full Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment_is12",
        "type": "comment",
        "z": "is12_example",
        "name": "IS-12 Control Protocol via WebSocket",
        "info": "This example demonstrates:\n1. IS-12 device registration\n2. WebSocket-based control (ws://<ip>:3001/x-nmos/ncp/v1.0)\n3. Property get/set operations\n4. Property change notifications to connected WebSocket clients\n\nConnect to the WebSocket endpoint using a WebSocket client to send NCP commands.",
        "x": 190,
        "y": 80,
        "wires": []
    }
]