examples/is12-control-example.json
[
    {
        "id": "is12_example",
        "type": "tab",
        "label": "IS-12 Control Example",
        "disabled": false,
        "info": "NMOS IS-12 Control Protocol with MQTT"
    },
    {
        "id": "is12_device",
        "type": "nmos-is12-control",
        "z": "is12_example",
        "name": "Audio Processor",
        "registry": "YOUR_REGISTRY_CONFIG",
        "mqttBroker": "mqtt://localhost:1883",
        "deviceLabel": "Node-RED Audio Processor",
        "deviceDescription": "IS-12 controllable audio processor",
        "controlType": "processor",
        "deviceId": "",
        "nodeId": "",
        "x": 380,
        "y": 200,
        "wires": [["show_property_change"]]
    },
    {
        "id": "inject_get_state",
        "type": "inject",
        "z": "is12_example",
        "name": "Get State",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"action\":\"get_state\"}",
        "payloadType": "json",
        "x": 140,
        "y": 140,
        "wires": [["is12_device"]]
    },
    {
        "id": "inject_set_gain",
        "type": "inject",
        "z": "is12_example",
        "name": "Set Gain -6dB",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"action\":\"set_property\",\"role\":\"gain\",\"value\":-6.0}",
        "payloadType": "json",
        "x": 150,
        "y": 180,
        "wires": [["is12_device"]]
    },
    {
        "id": "inject_mute_on",
        "type": "inject",
        "z": "is12_example",
        "name": "Mute ON",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"action\":\"set_property\",\"role\":\"mute\",\"value\":true}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [["is12_device"]]
    },
    {
        "id": "inject_mute_off",
        "type": "inject",
        "z": "is12_example",
        "name": "Mute OFF",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"action\":\"set_property\",\"role\":\"mute\",\"value\":false}",
        "payloadType": "json",
        "x": 140,
        "y": 260,
        "wires": [["is12_device"]]
    },
    {
        "id": "show_property_change",
        "type": "function",
        "z": "is12_example",
        "name": "Display Property Changes",
        "func": "if (msg.payload.event === 'property_changed') {\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n    node.warn('PROPERTY CHANGED');\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n    node.warn(`Role: ${msg.payload.role}`);\n    node.warn(`Value: ${msg.payload.value}`);\n    node.warn(`OID: ${msg.payload.oid}`);\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n}\n\nif (msg.payload.mqttConnected !== undefined) {\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n    node.warn('IS-12 DEVICE STATE');\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n    node.warn(`Registered: ${msg.payload.registered}`);\n    node.warn(`MQTT Connected: ${msg.payload.mqttConnected}`);\n    node.warn(`MQTT Broker: ${msg.payload.mqttBroker}`);\n    node.warn('\\nControl Model:');\n    for (const key in msg.payload.controlModel.workers) {\n        const w = msg.payload.controlModel.workers[key];\n        node.warn(`  ${w.role}: ${w.value} ${w.readOnly ? '(read-only)' : ''}`);\n    }\n    node.warn('\\nMQTT Topics:');\n    node.warn(`  Commands: ${msg.payload.topics.command}`);\n    node.warn(`  Responses: ${msg.payload.topics.response}`);\n    node.warn(`  Notifications: ${msg.payload.topics.notification}`);\n    node.warn('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [["debug_output"]]
    },
    {
        "id": "debug_output",
        "type": "debug",
        "z": "is12_example",
        "name": "Full Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment_is12",
        "type": "comment",
        "z": "is12_example",
        "name": "IS-12 Control Protocol via MQTT",
        "info": "This example demonstrates:\n1. IS-12 device registration\n2. MQTT-based control\n3. Property get/set operations\n4. Property change notifications",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "mqtt_monitor",
        "type": "mqtt in",
        "z": "is12_example",
        "name": "Monitor Notifications",
        "topic": "x-nmos/nc/+/notifications",
        "qos": "0",
        "datatype": "json",
        "broker": "YOUR_MQTT_BROKER_CONFIG",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 340,
        "wires": [["show_mqtt_notification"]]
    },
    {
        "id": "show_mqtt_notification",
        "type": "function",
        "z": "is12_example",
        "name": "Show MQTT Notification",
        "func": "node.warn('━━━ MQTT NOTIFICATION ━━━');\nnode.warn(`Topic: ${msg.topic}`);\nnode.warn(`Payload: ${JSON.stringify(msg.payload, null, 2)}`);\nnode.warn('━━━━━━━━━━━━━━━━━━━━━━━━━');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [["debug_output"]]
    }
]