examples/matrix-ui-example-flow.json
[{"id": "nmos-config-example","type": "nmos-config","name": "NMOS Registry","queryUrl": "http://localhost:3211","connectionUrl": "http://localhost:3212","auth": false,"username": "","password": ""},{"id": "ui-base-example","type": "ui-base","name": "NMOS Dashboard","path": "/dashboard","includeClientData": true},{"id": "ui-page-matrix","type": "ui-page","name": "NMOS Matrix","ui": "ui-base-example","path": "/matrix","icon": "dashboard","layout": "grid","theme": "theme-dark"},{"id": "ui-group-matrix","type": "ui-group","name": "Routing Matrix","page": "ui-page-matrix","width": "12","height": "10","order": 1,"disp": true,"className": ""},{"id": "flow-example","type": "tab","label": "NMOS Matrix Example","disabled": false,"info": "# NMOS Matrix UI Example Flow - Auto-loads senders and receivers"},{"id": "matrix-ui-example","type": "nmos-matrix-ui","z": "flow-example","name": "NMOS Matrix","registry": "nmos-config-example","group": "ui-group-matrix","width": 12,"height": 10,"x": 240,"y": 100,"wires": [["nmos-connection-example", "debug-matrix-output"]]},{"id": "nmos-connection-example","type": "nmos-connection","z": "flow-example","name": "Route Connection","registry": "nmos-config-example","receiverId": "","senderId": "","x": 480,"y": 100,"wires": [["debug-connection-result"]]},{"id": "debug-matrix-output","type": "debug","z": "flow-example","name": "Matrix Output","active": true,"tosidebar": true,"console": false,"tostatus": false,"complete": "payload","targetType": "msg","x": 480,"y": 140,"wires": []},{"id": "debug-connection-result","type": "debug","z": "flow-example","name": "Connection Result","active": true,"tosidebar": true,"console": false,"tostatus": false,"complete": "payload","targetType": "msg","x": 710,"y": 100,"wires": []},{"id": "inject-refresh","type": "inject","z": "flow-example","name": "Manual Refresh","props": [{"p": "payload"}],"repeat": "","crontab": "","once": false,"onceDelay": 0.1,"topic": "","payload": "{\"action\":\"refresh\"}","payloadType": "json","x": 240,"y": 60,"wires": [["matrix-ui-example"]]},{"id": "comment-example","type": "comment","z": "flow-example","name": "NMOS Matrix UI - Instant Visual Sender-Receiver Routing","info": "Matrix automatically loads all senders and receivers","x": 330,"y": 20,"wires": []}]